:root {
  --ety-dark-blue: #002152;
  --ety-mid-blue:  #334d74;
  --ety-light-blue: #8090a8;
  --ety-light-gray: #b3bccb;

  --ety-skin2-dark-blue: #0096e3;
  --ety-skin2-mid-blue:  #33abe8;
  --ety-skin2-light-blue: #80caf1;
  --ety-skin2-light-gray: #b3dff6;

  --ety-cyan:      #81C3D7;
  --ety-gray:      #D9DCD6;
  --ety-text-light: #F5F9FA;
  --ety-text-heading: #FFFFFF;


}

.text-ety-gray {
  color: var(--ety-gray);
}

.text-ety-light {
  color: var(--ety-text-light);
}

.text-ety-cyan {
  color: var(--ety-cyan);
}
